<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="de.nieting.burpVars.log">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{-3} - %msg%n" />
        </Console>

        <BurpLogAppender name="BurpLogAppender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{-3} - %msg" />
        </BurpLogAppender>
    </Appenders>
    <Loggers>
        <Logger name="de.nieting" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="BurpLogAppender"/>
        </Logger>
        <Root level="error">

        </Root>
    </Loggers>
</Configuration>
